* {
    font-family: Luckiest Guy, cursive;
    
}
body {
    margin: 0px;
    background-image: url("https://cdn.shopify.com/s/files/1/2618/5696/files/Diseno_sin_titulo_-_2021-06-23T170819.910.png?v=1624461049");
    background-size: cover;
    background-position: center;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar {
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    background-color: #0b23adf1;
    position: fixed;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}
.logo {
    width: 100px;
    height: 100px;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10vh;
    cursor: pointer;
}
.buscador {
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
    padding: 20px;
    background-color: #398ae6a8;
    box-shadow: 0px 2px 2px black;
    border-radius: 5px;
}

.buscar-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.buscar-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 10px black;
    font-size: 16px;
}

.buscar-button {
    padding: 10px 20px;
    background-color: rgb(6, 15, 97);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buscar-button:hover {
    background-color: gray;
}

.results {
    list-style: none;
    margin-bottom: 20px;
}

.results li {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 10px black;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.results li:hover {
    background-color: #eee;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://tn.com.ar/resizer/TvBXd9LcDQYoSIU9ASgCIe3rP2E=/767x0/smart/filters:format(webp)/arc-anglerfish-arc2-prod-artear.s3.amazonaws.com/public/Z5CCK4LQ44JIM6BWFUMIPN2SZI.jpg");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 4px 6px rgb(82, 82, 2);
}
h2 {
    color: yellow;
    font-size: 30px;
}

.banner p {
    font-size: 25px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.card {
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
    background-color: #0b23ad71;
    border-radius: 10px;
}

.card > img {
    width: 90%;
    height: 250px;
    padding-top: 15px;
    border-radius: 10px;
}
.card > img:hover {
    transform: scale(1.2);
    transition: transform 1.2s;
}

.price {
    color: rgb(240, 82, 8);
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #c26315;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.card button:hover {
    background-color: #0b23ad;
    opacity: 0.7;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: rgb(95, 97, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}
.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #c1df3cd7;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 60px;
    width: 60px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 850px) {
    body {
        width: 840px;
    }

    .modal-container {
        width: 80%;
        margin: 0;
        min-height: 88vh;
    }

    .buscador {
        max-width: 320px;
        height: 50px;
        
    }
    .card {
        width: 80%;
    }

    .navbar {
        font-size: 25px;
        height: 40vh;
        width: 100%;
    }
    .banner h1 {
        font-size: 25px;
    }
    .modal-container > .modal-content {
        width: 50%;
    }

    .modal-container > .modal-content {
        justify-content: space-between;
        width: 100%;
        margin: 2px;
    }

    .modal-container > div > img {
        height: 80px;
        width: 80px;
    }
    .modal-container > div > img {
        height: 40px;
        width: 40px;
    }
    #cantidadCarrito {
        float: right;
    }
}

.delete-product {
    cursor: pointer;
}

.cantidad-carrito {
    background-color: rgb(255, 17, 0);
    color: rgb(247, 247, 247);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 16px;
    padding: 6px;
    top: 60px;
    right: 14px;
    position: absolute;
    display: none;
    text-align: center;
}

.sumar {
    cursor: pointer;
}

.restar {
    cursor: pointer;
}

.pie-pagi {
    width: 100%;
    background-color: #398ae6;
}

.pie-pagi .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagi .grupo-1 .caja figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagi .grupo-1 .caja figure img {
    width: 130px;
}

.pie-pagi .grupo-1 .caja h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
}

.pie-pagi .grupo-1 .caja p {
    color: aliceblue;
    margin-bottom: 10px;
}

.pie-pagi .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    background-color: #92d7f2;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
    font-size: 25px;
}

.pie-pagi .grupo-1 .red-social a:hover {
    color: #032b58;
}

.pie-pagi .grupo-2 {
    background-color: #1210af;
    padding: 15px 20px;
    text-align: center;
    color: white;
}

.pie-pagi .grupo-2 small {
    font-size: 20px;
}
.whatsapp {
    height: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    text-shadow: 3px 6px rgb(60, 64, 60);
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.whatsapp a {
    color: greenyellow;
    font-size: 40px;
}
.turnero{
    text-align: center;
    font-size: 25px;
    color: #0b23ad;
    text-shadow: 1px 2px 3px white;
}
/*formulario*/
 .formulario{
    background-color: #0b16ad48;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow:  0 0 20px black;
    position: relative;
    text-align: center;
 }
  
 .formulario__titulo{
    text-align: center;
    margin-top: 0;
    color: #0b23ad;
    text-shadow: 1px 2px 3px white;
    margin-bottom: 70px;
 }

 .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 93%;
    font-size: 16px;
   
 }
 .formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7) ;
 }
 .formulario__input:focus + .formulario__label{
    margin-top: -130px;
 }
 .formulario__input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
    color: #7dafe7;
    
 }
 .formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.5s;
 }
 .formulario__submit{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    width: 50%;
    display: inline-block;
 }
 .fijar {
    margin-top: -135px;
 }

  .tarjetas {
    padding-bottom: 25px;
    margin-left: 40px;
    text-align: center;
  }
  
  .tarjetas i {
    margin-right: 25px;
  }
  
  .tarje {
    padding-bottom: 45px;
    padding-top: 25px;
    color: rgb(241, 242, 245);
    text-shadow: 2px 3px 6px blue;
    font-size: 40px;
  }
  